@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style-type: none;
}

html {
    font-size: 62.5%;
}

:root {
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --destaurated-dark-blue: hsl(214,17%, 51%);
    --grayish-blue: hsl(212,23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    background-color: var(--light-grayish-blue);
}


/* ! Common  */

.bold {
    font-weight: 500;
}

.extra-bold {
    font-weight: 700;
}

.lh-150 {
    line-height: 150%;
}

.circle {
    border-radius: 50%;
}

/* ! Main */

.card-container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.card {
    display: grid;
    grid-template-rows: 35% 1fr;
    grid-template-columns: 1fr;
    height: 100%;
    background-color: white;
    width: 90%;
    max-width: 51.2rem;
    border-radius: 1.2rem;
    gap: 2rem;
    font-size: 1.3rem;
    font-family: "Manrope";
    max-height: 65rem;
}

.card-img {
    background-image: url("images/drawers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

.card-content {
    padding: 2rem 2.8rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.card-content h2 {
    color: var(--dark-grayish-blue);
}

.card-content p {
    color: var(--destaurated-dark-blue);
    line-height: 180%;
}

.footer-container {
    position: relative;
    overflow-y: hidden;
}

.standard-mobile {
    padding: 2rem 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.standard-desktop {
    display: none;
}

.author-container {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.author-container h5 {
    color: var(--dark-grayish-blue);
}

.author-container p {
    color: var(--destaurated-dark-blue);
}

.author-avatar {
    height: 4rem;
    width: 4rem;
    background-image: url("images/avatar-michelle.jpg");
    background-size: contain;
}

.share-icon {
    background-color: var(--light-grayish-blue);
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: .1rem;
    cursor: pointer;
}

.share-icon img {
    height: 50%;
    width: 50%;
}


.share-box {
    display: flex;
    background-color: var(--dark-grayish-blue);
    padding: 1.4rem 2.4rem;
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    justify-content: space-between;
    align-items: center;
    transition: bottom .25s;
    bottom: -100%;
}

.share-box.show {
    bottom: 0;
}

.share-box .share-icon {
    background-color: var(--destaurated-dark-blue);
}

.share-box .share-icon img {
    filter: brightness(0) invert(1);
}


.share-box h5 {
    letter-spacing: .6rem;
    text-transform: uppercase;
    color: var(--grayish-blue);
    align-self: center;
    font-size: 1.3rem;
}

.share-box .left {
    display: flex;
    gap: 1.4rem;
}

.share-box .left img {
    height: 2rem;
    width: 2rem;
    align-self: center;
}

/* ! Responsive */

@media (min-width: 575px) {
    .card-content {
        padding: 2rem 3.2rem;
        font-size: 1.6rem;
    }
}

@media (min-width: 1080px) {
    .card {
        height: 28.7rem;
        width: 73rem;
        max-width: 73rem;
        max-height: 28.7rem;
        grid-template-columns: 35% 1fr;
        grid-template-rows: 1fr;
    }

    .card-img {
        border-top-right-radius: 0;
        border-bottom-left-radius: 1.2rem;
    }

    .card-content {
        font-size: 1.3rem;
        padding: 2.4rem;
    }

    .footer-container {
        display: none;
    }

    .standard-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    
    .share-box-desktop {
        position: absolute;
        width: 55%;
        top: -200%;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        transition: all .25s;
    }

    .share-box-desktop::after {
        content: "";
        position: absolute;
        height: 1rem;
        left: 50%;
        background-color: var(--dark-grayish-blue);
        bottom: -1rem;
        transform: translateX(-50%);
        width: 10%;
        height: 1rem;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
    }

    .share-box-desktop.show {
        visibility: visible;
        opacity: 1;
    }

    .share-icon.active {
        background-color: var(--dark-grayish-blue);
    }

    .share-icon .share.active {
        filter: brightness(0) invert(1);
    }
}